.futurism-body {
  height: 100vh;
  width: 100vw;
  background-color: #003595;
  box-shadow: 0 0 400px 200px rgba(0, 0, 0, 0.6) inset;
  color: #fff !important;
}

.futurism-btn {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  font-size: 1em;
  font-family: "Posterama 2001 W04 SemiBold";
}

#futurism-btn-clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.futurism-btn-arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#futurism-btn-leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#futurism-btn-rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

.futurism-btn:hover #futurism-btn-rightArrow {
  background-color: #27c39f;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate futurism-btn-rightArrow8;
}

.futurism-btn:hover #futurism-btn-leftArrow {
  background-color: #27c39f;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate futurism-btn-leftArrow8;
}

.futurism-btn-corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#futurism-btn-rightTop {
  top: -1.98em;
  left: 91%;
}

#futurism-btn-leftTop {
  top: -1.96em;
  left: -3.0em;
}

#futurism-btn-leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#futurism-btn-rightBottom {
  top: 45%;
  left: 88%;
}

.futurism-btn:hover #futurism-btn-leftTop {
  animation: 0.1s ease-in-out 0.05s both futurism-btn-changeColor8,
  0.2s linear 0.4s both futurism-btn-lightEffect8;
}

.futurism-btn:hover #futurism-btn-rightTop {
  animation: 0.1s ease-in-out 0.15s both futurism-btn-changeColor8,
  0.2s linear 0.4s both futurism-btn-lightEffect8;
}

.futurism-btn:hover #futurism-btn-rightBottom {
  animation: 0.1s ease-in-out 0.25s both futurism-btn-changeColor8,
  0.2s linear 0.4s both futurism-btn-lightEffect8;
}

.futurism-btn:hover #futurism-btn-leftBottom {
  animation: 0.1s ease-in-out 0.35s both futurism-btn-changeColor8,
  0.2s linear 0.4s both futurism-btn-lightEffect8;
}

.futurism-btn:hover .futurism-btn-corner {
  transform: scale(1.25) rotate(45deg);
}

.futurism-btn:hover #futurism-btn-clip {
  animation: 0.2s ease-in-out 0.55s both futurism-btn-greenLight8;
  --color: #27c39f;
}

@keyframes futurism-btn-changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #27c39f;
  }
}

@keyframes futurism-btn-lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }

  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes futurism-btn-greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes futurism-btn-leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes futurism-btn-rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 768px) {
  .futurism-body {
    box-shadow: 0 0 400px 50px rgba(0, 0, 0, 0.6) inset;
  }
}